// Import page-specific CSS files here.
@import "home";

.flex {
  display: flex;
}

h1 {
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
