
.show-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-mb {
  margin: 0;
}

h3, h5, h6 {
  font-weight: bold;
}
