.flat-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
  margin: 0.5rem 0 1rem 0;
  .flat-card-image {
    height: 180px;
    background-position: center;
    background-size: cover;
  }
  .flat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: $light-gray;
    padding: 24px;
    min-height: 220px;
    h4 {
      text-transform: capitalize;
      font-weight: bold;
    }
  }
  .flat-card-action {
    padding: 16px 24px;
    a {
      text-decoration: none;
    }
  }
}


.flat-show-card {
  margin-bottom: 20px;
  padding: 20px;
  background: $light-gray;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  h1 {
    text-transform: capitalize;
  }
  .flat-show-address {
    font-weight: 300;
    font-size: 20px;
    color: #333;
  }
}
